.modal {
   background-color: lighten(blue, 20%);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 100;
}

.modal-backdrop {
   background-color: rgba(#000, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 90;
}