// Fonts
$font-primary: 'Open Sans', sans-serif; // 300, 400, 600, 700

// Header sizes
// $h1: ;
// $h2: ;
// $h3: ;

// Text Sizes
// $font-l: ;
// $font-m: ;
// $font-s: ;

// Colors
$c-black-matte: #252525;
$c-white: #fff;

// Paddings & Margins
// $padding-section: ;